.comments {
  background-color: white;
  margin: 10px 10vw;
  padding: 10px;
  list-style-type: none;
  border-radius: 20px;
  border: 5px;

  &-header {
    text-align: left;
    background-color: #f77f00;
    min-height: 7 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 5px;
  }
}
