.user-details {
  text-decoration: none;

  &--list {
    list-style-type: none;
  }
  &--header {
    display: flex;
    justify-content: space-between;

    &__button {
      background-color: #1282a2;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
    }
  }
}
